body{
    background: rgb(255,254,254);
    background: radial-gradient(circle, rgba(255,254,254,1) 0%, rgba(152,152,151,1) 99%);
}

.wraper {
    width: 880px;
    margin: auto;
    list-style: none;
}

.container {
    height: 450px;
    background: #fff;
    position: relative;
    top: 100px;
    box-shadow: 2px 2px 6px grey;
    display: flex;
}

.arrow {
    height: 100%;
    width: 40px;
    margin: 0;
    padding: 0;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    background: #eee;
}

#a222 {
    transform: scaleX(-1);
}

.picture {
    height: 450px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
}

#p789 {
    height: 100%;
    width: 800px;
    overflow: hidden;
}

.text {
    height: 90px;
    width: 800px;
    background: #000000;
    opacity: 0.6;
    position: absolute;
    top: 360px;
}

h4 {
    color: #fff;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    opacity: 1;
}

p {
    color: #fff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 10px 10px 10px;
    opacity: 1;
}

.thumbnail {
    height: 50px;
    width: 100%;
    position: relative;
    top: 120px;
    justify-content: center;
    display: inline-flex;
}

.tn1 {
    height: 50px;
    width: 50px;
    overflow: hidden;
    border: 3px solid grey;
    border-radius: 7px;
    box-shadow: 2px 2px 6px grey;
}

.tn1:hover{
    opacity: 1;
}

li {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: 20px;
}

li:hover {
    transform: scale(1.2);
    transition: 0.2s;
}